*{
    font-family: "Comfortaa", sans-serif;
}
.first-section {
    background: url(../img/ivana-cajina-asuyh-_ZX54-unsplash.jpg) no-repeat center center / cover;
    
    height: 100vh;
}
.darker-bg{
    background: rgba(0, 0, 0, 0.404);
    
}
header{
    background: #00000000;
    height: 10vh;
    border-bottom: 2px solid #ffffff;
}

.element-h {
    padding: 10px 15px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.element-h:hover {
    color:  #bebebe; /* Оранжевый цвет при наведении */
    transform: translateY(-2px) translateX(2px); /* Легкое смещение вверх при наведении */
}
.hero-section{
    height: 90vh;
}
.hero-section-div {
    height: 60vh;
}
.gelery {height: 40vh; background: url('../img/efceb7c97026d69b53186495b4bca7a6.jpg') no-repeat center/cover; }
.earth {height: 70vh; background: url('../img/a1f4fbc267dbfe47fc5cc024d093d75c.jpg') no-repeat center/cover; }
.jupiter {height: 70vh; background: url('../img/695ad2395a13b95a9d071bee572f99bd.jpg') no-repeat center/cover; }
.mars {height: 70vh; background: url('../img/dec25c9fac9030a44d3fa1df3cd14088.jpg') no-repeat center/cover; }
.orion {height: 70vh; background: url('../img/b7e3932a5cb4c956aa7dad5f9443ece5.jpg') no-repeat center/cover; }
.andromeda {height: 70vh; background: url('../img/38f68e7d92d87009fb378818c27ac85d.jpg') no-repeat center/cover; }
.overlay {
    background: rgba(0, 0, 0, 0.604);
    padding: 50px;
    text-align: center;
    color: #ffffff;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.overlay p {
    text-align: center;
    width: 600px;
    font-size: 20px;
}