*{
    font-family: "Comfortaa", sans-serif;
}
.first-section {
    background: url(../img/ivana-cajina-asuyh-_ZX54-unsplash.jpg) no-repeat center center / cover;
    
    height: 100vh;
}
.darker-bg{
    background: rgba(0, 0, 0, 0.404);

}
header{
    background: #00000000;
    height: 10vh;
    border-bottom: 2px solid #ffffff;
    
}

.element-n {
    padding: 10px 15px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.element-n:hover {
    color:  #bebebe; /* Оранжевый цвет при наведении */
    transform: translateY(-2px) translateX(0px);
    /* Легкое смещение вверх при наведении */
}
.hero-section{
    height: 90vh;
}
.hero-section-div {
    height: 60vh;
}
.gelery-space {height: 40vh; background: url('../img/efceb7c97026d69b53186495b4bca7a6.jpg') no-repeat center/cover; }
.earth {height: 70vh; background: url('../img/a1f4fbc267dbfe47fc5cc024d093d75c.jpg') no-repeat center/cover; }
.jupiter {height: 70vh; background: url('../img/695ad2395a13b95a9d071bee572f99bd.jpg') no-repeat center/cover; }
.mars {height: 70vh; background: url('../img/dec25c9fac9030a44d3fa1df3cd14088.jpg') no-repeat center/cover; }
.orion {height: 70vh; background: url('../img/b7e3932a5cb4c956aa7dad5f9443ece5.jpg') no-repeat center/cover; }
.andromeda {height: 70vh; background: url('../img/38f68e7d92d87009fb378818c27ac85d.jpg') no-repeat center/cover; }
.overlay {
    background: rgba(0, 0, 0, 0.604);
    padding: 50px;
    text-align: center;
    color: #ffffff;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.overlay p {
    text-align: center;
    width: 600px;
    font-size: 20px;
}
.logotip {
    cursor: default;
}

.body{
    padding: 0;
    margin: 0;
}




.technology_section{
    color: #FFF;
}
/* дальше работа с фонами */
.space_technology_hubble_div{
    height: 350px; 
    background:  
        linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ),
        url(../img/photo_1_2025-03-29_20-07-18.jpg);
    background-size: cover; 
    background-position: 50% 40%;
}
.space_technology_ISS_div{
    height: 350px;
    background:  
        linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ),
        url(../img/photo_3_2025-03-29_20-07-18.jpg);
    background-size: cover;
    background-position: 50% 40%;
}
.space_technology_starlink_div{
    height: 350px;
    background:  
        linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ),
        url(../img/photo_4_2025-03-29_20-07-18.jpg);
    background-size: cover;
    background-position: 50% 80%;
}
.space_technology_voyager-1_div{
    height: 350px;
    background:  
        linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ),
        url(../img/photo_5_2025-03-29_20-07-18.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
.space_technology_starship_div{
    height: 350px;
    background:  
        linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ),
        url(../img/PIl.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
.conteiner_contant{  /* Конейнер со всем соедржимым */

    border-radius: 30px;
    border: 3px solid rgba(255, 255, 255, 0.393);
    max-width: 1200px;
    max-height: 1000px;
    margin: 0 auto;

    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap;
    color: white;
    padding: 20px;
}

.img_contact_cet{ /* Это для иконок соц.сети */
    width: 45px;
    height: 45px;
}
.conteiner_contant > div { /* ТуТ Я пытался flexbox починить*/
    width: 45%; 
    margin: 10px; 
    box-sizing: border-box; 
}
.bg_photo_cont{/* Это задний фон */
    border-radius: 30px;
}
.social-icons {
    display: flex;
    gap: 35px; /* Расстояние между иконками */
}

.social-icons a {

    font-size: 2rem;
    transition: color 0.3s;
}
section.contact{
    background: url(../img/ContactPhoto/loveplenet.png) no-repeat center/cover;
    padding: 100px 0;
    
}

.social-icons a[aria-label="YouTube"]   {color: #FF0000; }
.social-icons a[aria-label="Twitter"]   {color: #ffffff; }
.social-icons a[aria-label="Telegram"]  {color: #0194dd; }
.social-icons a[aria-label="Instagram"] { color: #E1306C;}
/* Цвета при наведении для каждой соцсети */
.social-icons a[aria-label="YouTube"]:hover {  color: #555;  }
.social-icons a[aria-label="Twitter"]:hover {  color: #555;  } /* Twitter (X) теперь черный */
.social-icons a[aria-label="Telegram"]:hover { color: #555;  }
.social-icons a[aria-label="Instagram"]:hover {color: #555;   }
/* адаптация; адаптирован на все устройства */
@media((width >= 600px) and (width < 900px)){
    .space_technology_h2{
        font-size: 25px;
    }
    .space_technology_h5{
        font-size: 17px;
    }
}
@media((width >= 500px) and (width < 600px)){
    .space_technology_h2{
        font-size: 20px;
    }
    .space_technology_h5{
        font-size: 15px;
    }
}
@media(width < 500px){
    .space_technology_h2{
        font-size: 18px;
        text-align: center;
    }
    .space_technology_h5{
        font-size: 12px;
        text-align: center;
    }
}